.editProfileContainer {
    padding: 10rem;
    background-color: lightsteelblue;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

.centered {
  margin: auto;
  width: 100%;
  padding: 10px;
}