.title {
    text-align: center !important;
}

.titleLine {
    border: dashed black 20px;
    border-bottom: none;
    width: 5%;
    margin: 20px auto;
}

.headerContainer {
    margin: 10% auto auto auto;
    width: 25%;
  padding: 10px;
}

.subHeading {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.mainHeading{
    margin-Top: 4%;
    text-Align: center;
    font-size: 130px;
    color: white;

}

.classHeading{
    margin-Top: 5%;
    color: white;
    font-size: 30px;
    text-align: center;
}

.schoolHeading{
    color: white;
    font-size: 20px;
    text-align: center;
}

.semesterHeading{
    color: white;
    font-size: 20px;
    text-align: center;
}

.schoolHeading{
    color: white;
    font-size: 20px;
    text-align: center;
}