.card-img-top {
    height: 15vw;
    object-fit: cover;
}
.cardBody {
    text-align: center;
    background-color: #f6f5f5;
}
.cardTitle {
    font-size: 30px !important;
}
/* Changes the transparency of the fontawesome icons when hovered. */
.icon:hover:hover {
    opacity: 0.5 !important;
}
/* Adds a black border around cards and makes them a custom shape :) */
.card {
    border: black !important;
    clip-path: circle(58.9% at 50% 50%);
}