/* Navbar Color */
.navbarBackground {
    background-color: #87cefa;
    position: fixed !important;
    width: 100%;
}

/* Changes the navbar text colors */
.nav-link{
    color: black !important;
  }